@import url("https://fonts.googleapis.com/css2?family=Oswald:wght@200;300;400;500;600;700&display=swap");
@tailwind base;
@tailwind components;
@tailwind utilities;
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  outline: none;
  font-family: "Oswald", sans-serif;
  transition: all 0.3s;
}

/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type="number"] {
  -moz-appearance: textfield;
}

.imageDiv {
  background: url("https://ik.imagekit.io/zquvvhmdy/pizza_khao/huge-pizza.png?updatedAt=1683123626446")
      center center,
    url("https://ik.imagekit.io/zquvvhmdy/pizza_khao/crust-must.png?updatedAt=1683123622541")
      center center/cover;
  background-repeat: no-repeat;
}
@media only screen and (max-width: 600px) {
  .imageDiv {
    background: url("https://ik.imagekit.io/zquvvhmdy/pizza_khao/huge-pizza.png?updatedAt=1683123626446")
        center center/contain,
      url("https://ik.imagekit.io/zquvvhmdy/pizza_khao/crust-must.png?updatedAt=1683123622541")
        center center/contain;
    background-repeat: no-repeat;
  }
}
.pizza-box:hover .btns {
  visibility: visible;
}
.button-box {
  position: absolute;
  bottom: 0;
  left: 0;
  height: 0;
  transition: all 0.3s;
}
.button-box button {
  opacity: 0;
}
.button-box button:nth-child(2) {
  transition-delay: 0.1s;
}
.pizza-box:hover .button-box {
  height: 48px;
}
.pizza-box:hover .button-box button {
  opacity: 1;
}
.footer-left {
  background: url("https://ik.imagekit.io/zquvvhmdy/pizza_khao/footer_background1.jpg?updatedAt=1683123625810round1.jpg")
    center center/cover;
}
.anim {
  opacity: 0;
  transition: opacity 0.3s ease-in-out;
}
.anim.active {
  opacity: 1;
}
.tab-active {
  color: brown;
}
.content {
  flex-grow: 1;
}
.content {
  height: 100%;
  width: 100%;
  display: none;
}
.active-content {
  display: block;
  transition: 0.3s;
}
@media screen and (min-width: 768px) {
  .nav-links {
    width: 14rem;
  }
}

.build-pizza {
  background: url("https://ik.imagekit.io/zquvvhmdy/pizza_khao/home-bg-1.jpg?updatedAt=1683123626535")
    center center/cover;
  display: table;
  background-attachment: fixed;
  background-repeat: no-repeat;
}

.accountBar {
  min-height: calc(100% - 82px);
}
.accountMenu.active {
  background: rgba(255, 0, 0, 0.1);
  font-weight: 600;
  color: rgba(255, 0, 0, 0.8);
}

.signUp {
  height: 100vh;
  width: 100vw;
  background: url("https://ik.imagekit.io/zquvvhmdy/pizza_khao/sign-up-bg.jpg?updatedAt=1683123635585")
    center center/cover;
  background-repeat: no-repeat;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
}
.signUp::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  height: 100%;
  width: 100%;
  background: rgba(0, 0, 0, 0.4);
}
.signUp .form {
  background: rgba(255, 255, 255, 0.15);
  border: 1px solid rgba(255, 255, 255, 0.5);
  border-bottom: 1px solid rgba(255, 255, 255, 0.25);
  border-left: 1px solid rgba(255, 255, 255, 0.25);
  box-shadow: 0 25px 50px rgba(0, 0, 0, 0.1);
}
.signUp .form .inputDiv {
  background: rgba(0, 0, 0, 0.1);
  box-shadow: inset 0 0 15px rgba(0, 0, 0, 0.25);
  border: 1px solid rgba(0, 0, 0, 0.3);
  border-radius: 5px;
  overflow: hidden;
}

[data-placeholder]::after {
  content: " ";
  box-shadow: 0 0 50px 9px rgba(254, 254, 254);
  position: absolute;
  top: 0;
  left: -100%;
  height: 100%;
  animation: load 1s infinite;
}
@keyframes load {
  0% {
    left: -100%;
  }
  100% {
    left: 150%;
  }
}

.slick-arrow.slick-prev,
.slick-arrow.slick-next {
  width: 47px;
  height: 80px;
  display: flex !important;
  align-items: center;
  justify-content: center;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2);
  background: transparent;
  backdrop-filter: blur(10px);
  color: #8888;
  z-index: 1;
}
@media only screen and (max-width: 450px) {
  .slick-arrow.slick-prev,
  .slick-arrow.slick-next {
    width: 36px;
    height: 60px;
    backdrop-filter: blur(0px);
    background-color: white;
  }
}
.slick-prev {
  left: 0 !important;
  border-radius: 0 5px 5px 0;
}
.slick-next {
  right: 0 !important;
  border-radius: 5px 0 0 5px;
}
.slick-prev::before,
.slick-next::before {
  display: none;
}
.slick-arrow.slick-prev:hover,
.slick-arrow.slick-next:hover {
  color: #8888 !important;
}

.menu-light-category-box:hover p {
  color: #b7903c;
}
.menu-light-category-box:hover img {
  animation: shake 0.5s linear;
}
.loader {
  font-size: 10px;
  width: 1em;
  height: 1em;
  border-radius: 50%;
  position: relative;
  text-indent: -9999em;
  animation: mulShdSpin 1.1s infinite ease;
  transform: translateZ(0);
}
@keyframes mulShdSpin {
  0%,
  100% {
    box-shadow: 0em -2.6em 0em 0em rgba(231, 76, 60, 1),
      1.8em -1.8em 0 0em rgba(231, 76, 60, 0.3),
      2.5em 0em 0 0em rgba(231, 76, 60, 0.3),
      1.75em 1.75em 0 0em rgba(231, 76, 60, 0.3),
      0em 2.5em 0 0em rgba(231, 76, 60, 0.3),
      -1.8em 1.8em 0 0em rgba(231, 76, 60, 0.3),
      -2.6em 0em 0 0em rgba(231, 76, 60, 0.5),
      -1.8em -1.8em 0 0em rgba(231, 76, 60, 0.7);
  }
  12.5% {
    box-shadow: 0em -2.6em 0em 0em rgba(231, 76, 60, 0.7),
      1.8em -1.8em 0 0em rgba(231, 76, 60, 1),
      2.5em 0em 0 0em rgba(231, 76, 60, 0.3),
      1.75em 1.75em 0 0em rgba(231, 76, 60, 0.3),
      0em 2.5em 0 0em rgba(231, 76, 60, 0.3),
      -1.8em 1.8em 0 0em rgba(231, 76, 60, 0.3),
      -2.6em 0em 0 0em rgba(231, 76, 60, 0.3),
      -1.8em -1.8em 0 0em rgba(231, 76, 60, 0.5);
  }
  25% {
    box-shadow: 0em -2.6em 0em 0em rgba(231, 76, 60, 0.5),
      1.8em -1.8em 0 0em rgba(231, 76, 60, 0.7),
      2.5em 0em 0 0em rgba(231, 76, 60, 1),
      1.75em 1.75em 0 0em rgba(231, 76, 60, 0.3),
      0em 2.5em 0 0em rgba(231, 76, 60, 0.3),
      -1.8em 1.8em 0 0em rgba(231, 76, 60, 0.3),
      -2.6em 0em 0 0em rgba(231, 76, 60, 0.3),
      -1.8em -1.8em 0 0em rgba(231, 76, 60, 0.3);
  }
  37.5% {
    box-shadow: 0em -2.6em 0em 0em rgba(231, 76, 60, 0.3),
      1.8em -1.8em 0 0em rgba(231, 76, 60, 0.5),
      2.5em 0em 0 0em rgba(231, 76, 60, 0.7),
      1.75em 1.75em 0 0em rgba(231, 76, 60, 1),
      0em 2.5em 0 0em rgba(231, 76, 60, 0.3),
      -1.8em 1.8em 0 0em rgba(231, 76, 60, 0.3),
      -2.6em 0em 0 0em rgba(231, 76, 60, 0.3),
      -1.8em -1.8em 0 0em rgba(231, 76, 60, 0.3);
  }
  50% {
    box-shadow: 0em -2.6em 0em 0em rgba(231, 76, 60, 0.3),
      1.8em -1.8em 0 0em rgba(231, 76, 60, 0.3),
      2.5em 0em 0 0em rgba(231, 76, 60, 0.5),
      1.75em 1.75em 0 0em rgba(231, 76, 60, 0.7),
      0em 2.5em 0 0em rgba(231, 76, 60, 1),
      -1.8em 1.8em 0 0em rgba(231, 76, 60, 0.3),
      -2.6em 0em 0 0em rgba(231, 76, 60, 0.3),
      -1.8em -1.8em 0 0em rgba(231, 76, 60, 0.3);
  }
  62.5% {
    box-shadow: 0em -2.6em 0em 0em rgba(231, 76, 60, 0.3),
      1.8em -1.8em 0 0em rgba(231, 76, 60, 0.3),
      2.5em 0em 0 0em rgba(231, 76, 60, 0.3),
      1.75em 1.75em 0 0em rgba(231, 76, 60, 0.5),
      0em 2.5em 0 0em rgba(231, 76, 60, 0.7),
      -1.8em 1.8em 0 0em rgba(231, 76, 60, 1),
      -2.6em 0em 0 0em rgba(231, 76, 60, 0.3),
      -1.8em -1.8em 0 0em rgba(231, 76, 60, 0.3);
  }
  75% {
    box-shadow: 0em -2.6em 0em 0em rgba(231, 76, 60, 0.3),
      1.8em -1.8em 0 0em rgba(231, 76, 60, 0.3),
      2.5em 0em 0 0em rgba(231, 76, 60, 0.3),
      1.75em 1.75em 0 0em rgba(231, 76, 60, 0.3),
      0em 2.5em 0 0em rgba(231, 76, 60, 0.5),
      -1.8em 1.8em 0 0em rgba(231, 76, 60, 0.7),
      -2.6em 0em 0 0em rgba(231, 76, 60, 1),
      -1.8em -1.8em 0 0em rgba(231, 76, 60, 0.3);
  }
  87.5% {
    box-shadow: 0em -2.6em 0em 0em rgba(231, 76, 60, 0.3),
      1.8em -1.8em 0 0em rgba(231, 76, 60, 0.3),
      2.5em 0em 0 0em rgba(231, 76, 60, 0.3),
      1.75em 1.75em 0 0em rgba(231, 76, 60, 0.3),
      0em 2.5em 0 0em rgba(231, 76, 60, 0.3),
      -1.8em 1.8em 0 0em rgba(231, 76, 60, 0.5),
      -2.6em 0em 0 0em rgba(231, 76, 60, 0.7),
      -1.8em -1.8em 0 0em rgba(231, 76, 60, 1);
  }
}

@keyframes shake {
  10%,
  90% {
    transform: translate3d(-1px, 0, 0);
  }

  20%,
  80% {
    transform: translate3d(2px, 0, 0);
  }

  30%,
  50%,
  70% {
    transform: translate3d(-4px, 0, 0);
  }

  40%,
  60% {
    transform: translate3d(4px, 0, 0);
  }
}
.mobile-nav {
  display: none;
  transition: 0.3s ease-in;
}
.mobile-nav.active {
  display: flex;
  flex-direction: column;
  gap: 4;
  transition: 0.3s ease-in;
}
.category_box {
  height: 20rem;
  width: 20rem;
  position: relative;
}
.box_1 {
  background: linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)),
    url("../public/assets/slice-crispy-pizza-with-meat-cheese.jpg") center
      center/cover;
}
.box_2 {
  background: linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)),
    url("../public/assets/pizza-3298685_1280.jpg") center center/cover;
}
.box_3 {
  background: linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)),
    url("../public/assets/food-g4b13c5ed4_640.jpg") center center/cover;
}
.box_4 {
  background: linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)),
    url("../public/assets/pizza-gcfa15edc3_640.jpg") center center/cover;
}
.category_box div {
  position: absolute;
  bottom: 0;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  height: 2.5rem;
}
.category_box div p {
  color: white;
  font-size: 1.4rem;
  font-weight: 600;
  text-transform: uppercase;
  letter-spacing: 1px;
}
.category_box div small {
  color: white;
  font-size: 0.9rem;
  text-align: center;
  font-weight: 500;
  display: none;
  font-family: sans-serif;
  letter-spacing: 0.5px;
  padding: 0 4px;
}
.category_box:hover div {
  height: 100%;
  background: linear-gradient(to bottom, rgba(235, 47, 6, 0.5), #000);
}
.category_box:hover div p {
  font-size: 1.8rem;
}
.category_box:hover div small {
  display: block;
}
.category_page {
  background: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)),
    url("../public/assets/samuel-richard-UWY8nGROvbk-unsplash.jpg") center
      center/cover;
}

@media only screen and (max-width: 450px) {
  .category_box {
    height: 12rem;
    width: 10rem;
  }
  .category_box div {
    position: unset;
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background: linear-gradient(to bottom, rgba(235, 47, 6, 0.2), #000);
  }
  .category_box div p {
    font-size: 1rem;
  }
  .category_box div small {
    display: block;
    font-size: 0.6rem;
  }
}
